# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# ts编译生成的文件
*.tsbuildinfo
# dependencies
node_modules

ignore
.svn
# testing
coverage

# production
build
dist

temp
.DS_Store
*.log*
